[Unit]
Description=Check whether the PCS automatic backup is due

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
Unit=pcs-backup.service

[Install]
WantedBy=timers.target
